* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Anonymous Pro", Verdana, sans-serif;
}
main {
  background-color: #f1f1f1;
  margin: 0 auto;
  padding: 25px 0;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

.header {
  width: 100%;
  margin: 30px auto 0;
  border-bottom: 1px solid #a1a6b4;
}
.header__nav {
  margin: 0 auto 16px;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 60px;
  width: 215px;
}
.header__nav-list {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.header__nav-item {
  list-style-type: none;
}
.header__nav-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.sneakers {
  max-width: 1160px;
  margin: 0 auto;
}
.sneakers__title {
  margin-bottom: 24px;
}
.sneakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.sneaker__container {
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 370px;
  height: fit-content;
}
.sneaker__image {
  border-radius: 12px 12px 0 0;
}
.sneaker__text {
  margin: 32px 24px;
}
.sneaker__description {
  margin-top: 10px;
  font-size: 20px;
}
.sneaker__title {
  font-size: 26px;
}
.footer {
  background-color: #121723;
  margin: 0 auto;
}
.top__footer {
  max-width: 1160px;
  margin: 0 auto;
  padding: 32px 0;
  align-items: center;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}
.footer__nav {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  height: 23px;
}
.footer__nav-items {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.footer__nav-item {
  list-style-type: none;
}
.footer__nav-link {
  font-family: "Anonymous Pro", Verdana, sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.bottom__section {
  display: flex;
  justify-content: center;
  padding: 21px 0;
}
.footer__copyright {
  color: #a1a6b4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
